@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Protest+Strike&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import 'tailwindcss';

@theme {
  /* colors */
  --color-primary: #777777;
  --color-secondary: #333333;
  --color-brand-green: #1f2731;
  --color-gray: #f4f4f4;
  --color-blue: #1c9aea;
  --color-light-blue: #37a0d9;
  /* fonts */
  --font-pt-sans: 'PT Sans';
  --font-ubuntu: 'Ubuntu';
  --font-roboto: 'Roboto';
  --font-inter: 'Inter';
  --font-protest: 'Protest Strike';
}

@layer base {
  * {
    @apply focus:outline-none;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply overflow-x-hidden h-full;
  }

  button {
    @apply cursor-pointer;
  }
  textarea {
    @apply outline-none;
  }
}

.blur-shadow {
  box-shadow: 0px 2px 6px 0px #0000001a;
}
.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
